Repository Bas950/packages, changes with the labels that .github/labeler.yml gives for each.
All labels: repo maintenance, DisplayAsTree, Language-Flag-Colors, Monorepo-Coverage-Badges, test, documentation

.github/labeler.yml:

'repo maintenance':
- '*'

'DisplayAsTree':
- packages/DisplayAsTree/*
- packages/DisplayAsTree/**/*

'Language-Flag-Colors':
- packages/Language-Flag-Colors/*
- packages/Language-Flag-Colors/**/*

'Monorepo-Coverage-Badges':
- packages/Monorepo-Coverage-Badges/*
- packages/Monorepo-Coverage-Badges/**/*

test:
- '**/src/**/*.test.ts'
- '**/__mocks__/**/*'

documentation:
- '**/*.md'

fix(displayastree): assets should now be correct
  packages/DisplayAsTree/assets/displayastree.png
  packages/DisplayAsTree/assets/usageexampleone.png
  packages/DisplayAsTree/assets/usageexampletwo.png
Labels: DisplayAsTree

fix(displayastree): assets should now be correct
  packages/DisplayAsTree/assets/displayastree.png
  packages/DisplayAsTree/assets/usageexampleone.png
  packages/DisplayAsTree/assets/usageexampletwo.png
Labels: DisplayAsTree

fix(displayastree): assets should now be correct
  packages/DisplayAsTree/assets/displayastree.png
  packages/DisplayAsTree/assets/usageexampleone.png
  packages/DisplayAsTree/assets/usageexampletwo.png
Labels: DisplayAsTree

fix(displayastree): assets should now be correct
  packages/DisplayAsTree/README.md
  packages/DisplayAsTree/assets/displayastree.png
  packages/DisplayAsTree/assets/usageexampleone.png
  packages/DisplayAsTree/assets/usageexampletwo.png
Labels: DisplayAsTree, documentation

feat: add support for both cjs and mjs
  packages/DisplayAsTree/fixup
  packages/DisplayAsTree/package.json
  packages/DisplayAsTree/tsconfig.cjs.json
  packages/DisplayAsTree/tsconfig.json
  packages/Language-Flag-Colors/fixup
  packages/Language-Flag-Colors/package.json
  packages/Language-Flag-Colors/tsconfig.cjs.json
  packages/Language-Flag-Colors/tsconfig.json
  packages/Monorepo-Coverage-Badges/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.json
Labels: repo maintenance, DisplayAsTree, Language-Flag-Colors, Monorepo-Coverage-Badges

chore: add changeset
  .changeset/curly-peaches-tan.md
Labels: documentation

feat: add support for both cjs and mjs (#9)
  .changeset/curly-peaches-tan.md
  packages/DisplayAsTree/fixup
  packages/DisplayAsTree/package.json
  packages/DisplayAsTree/tsconfig.cjs.json
  packages/DisplayAsTree/tsconfig.json
  packages/Language-Flag-Colors/fixup
  packages/Language-Flag-Colors/package.json
  packages/Language-Flag-Colors/tsconfig.cjs.json
  packages/Language-Flag-Colors/tsconfig.json
  packages/Monorepo-Coverage-Badges/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.json
Labels: repo maintenance, DisplayAsTree, Language-Flag-Colors, Monorepo-Coverage-Badges, documentation

chore: remove dependency
  packages/Language-Flag-Colors/package.json
  pnpm-lock.yaml
Labels: repo maintenance, Language-Flag-Colors

chore: remove pnpm from engines
  packages/Language-Flag-Colors/package.json
Labels: Language-Flag-Colors

refactor: add proper file extension
  packages/Language-Flag-Colors/fixup.sh
  packages/Language-Flag-Colors/package.json
Labels: Language-Flag-Colors

chore: fix changelog
  packages/Language-Flag-Colors/CHANGELOG.md
Labels: Language-Flag-Colors, documentation

chore: add changeset
  .changeset/famous-spoons-hang.md
Labels: documentation

chore(language-flag-colors): no longer use source-map-support (#11)
  .changeset/famous-spoons-hang.md
  packages/Language-Flag-Colors/CHANGELOG.md
  packages/Language-Flag-Colors/fixup.sh
  packages/Language-Flag-Colors/package.json
  pnpm-lock.yaml
Labels: repo maintenance, Language-Flag-Colors, documentation

chore: fix fixup
  packages/Language-Flag-Colors/fixup
  packages/Language-Flag-Colors/package.json
Labels: Language-Flag-Colors

chore(actions): use new build process
  .github/workflows/CI.yml
  .github/workflows/package.yml
  configs/badges.config.cjs
Labels: none

fix(actions): run correct script
  .github/workflows/CI.yml
Labels: none

chore: improve coverage
  packages/Language-Flag-Colors/src/functions/findLanguage.test.ts
Labels: Language-Flag-Colors, test
