Repository Bas950/packages, changes with the labels that .github/labeler.yml gives for each.
All labels: repo maintenance, DisplayAsTree, Language-Flag-Colors, Monorepo-Coverage-Badges, test

.github/labeler.yml:

'repo maintenance':
- changed-files:
  - any-glob-to-any-file: '*'

'DisplayAsTree':
- changed-files:
  - any-glob-to-any-file: 'packages/DisplayAsTree/**'

'Language-Flag-Colors':
- changed-files:
  - any-glob-to-any-file: 'packages/Language-Flag-Colors/**'

'Monorepo-Coverage-Badges':
- changed-files:
  - any-glob-to-any-file: 'packages/Monorepo-Coverage-Badges/**'

test:
- changed-files:
  - any-glob-to-any-file: ['**/__mocks__/**', '**/*.test.ts']

documentation:
- all:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - all-globs-to-all-files: '!.changeset/*'

feat: update deps and require node 18
  .changeset/shy-avocados-jump.md
  .github/workflows/CI.yml
  package.json
  packages/DisplayAsTree/package.json
  packages/Language-Flag-Colors/package.json
  packages/Monorepo-Coverage-Badges/package.json
  pnpm-lock.yaml
Labels: repo maintenance, DisplayAsTree, Language-Flag-Colors, Monorepo-Coverage-Badges

fix(actions): default to node 18
  .github/actions/prepareEnvironment/action.yml
Labels: none

fix japan country code
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

chore: add changeset and fix Bangladesh
  .changeset/friendly-snakes-lick.md
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

fix(Language-Flag-Colors): correct the country codes of Japan and Bangladesh (#62)
  .changeset/friendly-snakes-lick.md
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

chore(actions): bump dependencies
  .github/workflows/CI.yml
Labels: none

feat(language-flag-colors): add madarin
  packages/Language-Flag-Colors/src/languages.test.ts
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors, test

chore: changeset
  .changeset/wild-parrots-hammer.md
Labels: none

Change Lithuanian's iso-639-2, -3 to lit
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

change Lithuanian -1 code, and sindhi codes
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

Create smooth-planes-switch.md
  .changeset/smooth-planes-switch.md
Labels: none

fix: change Lithuanian's iso-639-2, -3 to lit (#256)
  .changeset/smooth-planes-switch.md
  packages/Language-Flag-Colors/src/languages.ts
Labels: Language-Flag-Colors

chore: remove renovate
  .github/renovate.json
Labels: none
